.event-wrapper{
    display: flex;
    flex-direction: row;

}
.header-buttons-wrapper{
    margin-top: 10px;
}

.header-buttons-wrapper .right-button{
    margin-left: 10px;
}

.header-buttons-wrapper .active{
    font-weight: bold;
    background-color: royalblue;
}

.header-buttons-wrapper .inactive{
    color: black;
    background-color: white;
}